<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<form method="post">

		<h1>Home Page</h1>
		<p>Welcome Receptionist </p>

		<br/><br/>

		<a href="/receptionist/view_hotel">View All Hotel</a>

		<br/><br/>

		<a href="/receptionist/viewbooking">View All Booking</a> 

		<br/> <br/><br/> 
		<a href="/logout">Logout</a> 
		<br/>
		<br/>
		<h4>Communicate With HR :</h4>
		<h4>Message :</h4>
		To: HR
		<br> <br>
		<input type="text" name="sms" id="sms" required>
		<input type="submit" name="send" value="Send">
		<br/>
		<br/>
		<a href="/receptionist/viewsms">View SMS</a> 
	</form>

</body>
</html>